doctype html
html
  head
    title PASTEBIN
    link(rel='stylesheet', href='/public/stylesheets/startpage.css')
  body
    #buttons
      button(onclick="window.location.href = '/addtext'", id="addText") ADD NEW TEXT
      button(onclick="window.location.href = '/paste/list'", id="readText") TEXT LIST
